$background-dark-color: #191F1F;
$background-dark-secondary-color: #1C332E;
$background-dark-contrast-color: #F8FEFC;
$background-light-color: #F8FEFC;
$background-light-secondary-color: #e4e9e7;
$background-light-contrast-color: #191F1F;
$additional-color: #1D9342;
$ascend-color: #59FF86;
$ascend-second-color: rgb(31 131 197);

$border-radius-default: 1rem;